@model cvManagement.Models.UserProfile
@{
    ViewBag.Title = "ListUserProfile";
}
    <style>
        button {
            width: 90px;
            height: 40px;
        }
    </style>
<h4>List profiles</h4>
<table class="table">
    <thead>
        <tr style="height:50px">
            <th>
                No.
            </th>
            <th>
                Name
            </th>
            <th>
                Position
            </th>
            <th>
                Source
            </th>
            <th>
                Apply date
            </th>
            <th>
                CV result
            </th>
            <th>
                Interview date
            </th>
            <th>
                Interview result
            </th>
            <th>
                Status
            </th>
            <th>
                CV link
            </th>
            <th>
                Note
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model.ListProfile)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.Name, null, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => item.PositionId, new SelectList(Model.listPosition, "Id", "Name", item.PositionId), new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => item.SourceId, new SelectList(Model.listSource, "Id", "Name", item.SourceId), new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.ApplyDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                </td>
                <td>
                    @{
                        switch (@Html.DisplayFor(modelItem => item.CvResult).ToString())
                        {
                            case "0":
                                break;
                            case "1":
                                <button type="button" class="btn btn-success" disabled>Pass</button>
                                break;
                            case "2":
                                <button type="button" class="btn btn-danger" disabled>Fail</button>
                                break;
                            case "3":
                                <button type="button" class="btn btn-info" disabled>Backup</button>
                                break;
                        }
                    }
                </td>
                <td>
                    @{
                        switch (@Html.DisplayFor(modelItem => item.InterviewDate, "{0:MM/dd/yyyy}").ToString())
                        {
                            case "0001/01/01":
                                break;
                            default:
                                @Html.TextBoxFor(modelItem => item.InterviewDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                                break;
                        }
                    }
                </td>
                <td>
                        @switch (@Html.DisplayFor(modelItem => item.InterviewResult).ToString())
                        {
                            case "0":
                                break;
                            case "1":
                                <button type="button" class="btn btn-success" disabled>Pass</button>
                                break;
                            case "2":
                                <button type="button" class="btn btn-danger" disabled>Fail</button>
                                break;
                            case "3":
                                <button type="button" class="btn btn-info" disabled>Backup</button>
                                break;
                        }
                </td>
                <td>
                        @switch (@Html.DisplayFor(modelItem => item.Status).ToString())
                        {
                            case "1":
                                <input type="text" class="form-control" value="Đã nhận CV" />
                                break;
                            case "2":
                                <input type="text" class="form-control" value="Đã gửi thư cảm ơn" />
                                break;
                            case "3":
                                <input type="text" class="form-control" value="Nhận việc" />
                                break;

                        }
                    
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.CvLink, new { @class = "form-control" })
                </td>
                <td>
                    @{
                        switch (@Html.DisplayFor(modelItem => item.Note).ToString())
                        {
                            case (""):
                                break;
                            default:
                                @Html.TextBoxFor(modelItem => item.Note, new { @class = "form-control" })
                                break;

                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateUserProfile", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container-xxl d-flex p-2">
    @Html.ActionLink("Create", "InsertUserProfile", null, new { @class = "btn btn-primary" })
</div>
@if (TempData["InsertResult"] != null)
{
    <script type="text/javascript">

                alert("Record Is Inserted Successfully");
    </script>

}
@if (TempData["UpdateResult"] != null)
{
    <script type="text/javascript">

                alert("Record Is Updated Successfully");
    </script>

}
@if (TempData["DeleteResult"] != null)
{
    <script type="text/javascript">

                alert("Record Is Deleted Successfully");
    </script>

}

