@model cvManagement.Models.UserProfile

@{
    ViewBag.Title = "InsertUserProfile";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col">
        <h4 class="mb-3">Update profile</h4>
        <form class="needs-validation" novalidate="">
            <div class="row g-3">
                <div class="col-12">
                    <label for="username" class="form-label">Full name</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="invalid-feedback">
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="country" class="form-label">Position</label>
                    @Html.DropDownListFor(model => model.PositionId, new SelectList(Model.listPosition, "Id", "Name"), new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label for="state" class="form-label">Source</label>
                    @Html.DropDownListFor(model => model.SourceId, new SelectList(Model.listSource, "Id", "Name"), new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label for="applydate" class="form-label">Apply date</label>
                    @Html.TextBoxFor(model => model.ApplyDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                 
                </div>
                @* dgkjsdhgkjdshg *@
                <div class="col-md-4">
                    <label for="cvresult" class="form-label">CV result</label>
                    @Html.DropDownListFor(model => model.CvResult, new List<SelectListItem>
                    {
                    new SelectListItem{ Text="--Select--", Value = "0" },
                    new SelectListItem{ Text="Pass", Value = "1" },
                    new SelectListItem{ Text="Fail", Value = "2" },
                    new SelectListItem{ Text="Backup", Value = "3" },
                    }, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label for="interviewdate" class="form-label">Interview date</label>
                    @Html.EditorFor(model => model.InterviewDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-4">
                    <label for="interviewresult" class="form-label">Interview result</label>
                    @Html.DropDownListFor(model => model.InterviewResult, new List<SelectListItem>
                    {
                    new SelectListItem{ Text="--Select--", Value = "0" },
                    new SelectListItem{ Text="Pass", Value = "1" },
                    new SelectListItem{ Text="Fail", Value = "2" },
                    new SelectListItem{ Text="Backup", Value = "3" },
                    }, new { @class = "form-control" })
                </div>

                <div class="col-12">
                    <label for="cvlink" class="form-label">CV link</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.CvLink, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="invalid-feedback">
                            @Html.ValidationMessageFor(model => model.CvLink, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="status" class="form-label">Email status</label>
                    @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                    {
                        new SelectListItem{ Text="Đã nhận CV", Value = "1" },
                        new SelectListItem{ Text="Đã gửi thư cảm ơn", Value = "2" },
                        new SelectListItem{ Text="Nhận việc", Value = "3" },
                    }, new { @class = "form-control" })
                </div>
            </div>
            <label for="address" class="form-label">Note</label>
            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @cols = 3, @rows = 6 })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            <hr class="my-4">
            <input type="submit" value="Submit" class="w-100 btn btn-primary btn-lg" />
        </form>
    </div>
}

