@model cvManagement.Models.emailTemplate

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update template</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <form>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @cols = 3, @rows = 6 })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
            @Html.ActionLink("Back", "ShowAllTemplates", null, new { @class = "btn btn-info" })
        </form>
    </div>
}
