@model cvManagement.Models.emailTemplate
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>All Email Templates</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.listTemplate)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" ,onclick = "return confirm('Are you sure you wish to delete this template?');" })
                @Html.ActionLink("Edit", "editTemplate", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create", "createTemplate", "", new { @class = "btn btn-outline-primary" })
</p>

@if (TempData["InsertResult"] != null)
{
    <script type="text/javascript">

                alert("Record Is Inserted Successfully");
    </script>

}
@if (TempData["UpdateResult"] != null)
{
    <script type="text/javascript">

                alert("Record Is Updated Successfully");
    </script>

}
@if (TempData["DeleteResult"] != null)
{
    <script type="text/javascript">

                alert("Record Is Deleted Successfully");
    </script>

}
