@model cvManagement.Models.Account

@{
    ViewBag.Title = "updatePassword";
}

<h2>Update Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.PassWord)
        @Html.HiddenFor(model => model.Role)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("PassWord", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("oldpassword", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("New PassWord", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("newpassword", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("New PassWord Again", null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("newpasswordagain", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "EditAccount")
</div>
